@import '~bootstrap/scss/bootstrap';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '../src/actiontext.scss';
@import url('https://fonts.googleapis.com/css?family=Lobster');

.title {
  float: left;
  margin-right: 10px;
  font-size: 2.3em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  margin-top: -10px;
  font-family: 'Lobster', cursive;
}