
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There is a new post from, <em>Author: <%= link_to @author.name , @author %></em></h1>
    <p>
      <h2>To see the post follow: <%= link_to post.title, post %></h2>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>